*{

	margin: 0;
	padding: 0;

	
}

div{
	/*border: 1px solid black;*/
}

html,body{

	width: auto;
	height: 100%;

	font-family: teste2;
}

@font-face{
font-family: teste;
src: url(HelloParisScript.ttf);


}

@font-face{
font-family: teste2;
src: url(Conforta.ttf);

}

/*Frame geral*/





#frame{

	max-width: 1440px;
	max-height: 100%;

	margin: auto;

	/*border: 1px solid black;*/

	position: relative;

	background: #fafafa;


}
/*-*/

/*	#frame-introduction{

		max-width: 100%;
		max-height: 820px;

		position: relative;

		margin-bottom: 100px;
        border: 1px solid black;

        background: red;

	}*/


    /*---*/

  
	header{

	     /*border: 1px solid black;*/

          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          align-items: center;

          position: absolute;
          top: 0;
          left: 50%;

          transform: translate(-50%);

	}


	/*-*/


		nav{

            /*border: 1px solid black;*/
           
	        display: flex;
	        flex-direction: row;
	        justify-content: space-around;
	        align-items: center;

	        gap: 20px;



		}

		/*-*/

			.items{

				position: relative;
				font-size: 1.5rem;
			}

/*--------------------------------------------------------------*/

/*Introduction*/


#introduction{

	     /*border: 1px solid black;*/

          position: relative;

          max-width: auto;
		      height: 820px;

          margin: auto;

          color: #ebdfcc;
          

          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          background-image: linear-gradient(45deg, #582770, #f71568, #b3c631);

          
      

}

/*-*/

	#title-introduction{

		/*border: 1px solid black;*/

		width: 70%;

		font-size: 8rem;

		font-family: teste;

		text-align: center;

		margin-bottom: 5%;

		color: #02031a;

		padding: 0;

		position: relative;

		line-height: 150px;

	}


	#title-introduction h1{

		font-family: teste;
		text-align: left;
		font-weight: 600;

	}

	#title-introduction h2{

		font-family: teste2;
          font-size: 9rem;
          text-align: right;

          color: #cde54e;

          font-weight: normal;
	}
	/*---*/

	#sub-title-introduction{

		/*border: 1px solid black;*/

        max-width: auto;

        font-size: 2rem;

		text-align: center;

	}

/*--------------------------------------------------------------*/

/*About*/


#about{
     /*border: 1px solid black;*/

     position: relative;

     max-width: auto;
     height: 820px;

     

     display: flex;
     flex-direction: column;
     
}

/*-*/

	#about-top{

        /*border: 1px solid black;*/

        position: relative;

        max-width: auto;
        height: 25%;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    

	}

	#about-top h2{

      font-size: 5rem;
       background: #f71568;
    background: -webkit-linear-gradient(to right, #f71568, #2f2bad);
    background: linear-gradient(to right, #f71568, #2f2bad);
    -webkit-background-clip: text;
    background-clip: text; 
    color: transparent;
        
	}

	/*---*/

	#about-bottom{

            /*border: 1px solid black;*/

            position: relative;

            max-width: auto;
            height: 75%;

            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

	}

    /*-*/

    	#about-bottom-left{

             /*border: 1px solid black;*/

             position: relative;

             max-width: 49%;
             height: 100%;

             display: flex;
	         flex-direction: row;
	         justify-content: center;
	         align-items: center;
    

    	}

    	/*-*/

    		#about-bottom-left-content{

                 /*border: 1px solid black;*/

                 position: relative;

                 font-size: 1.5rem;
                 text-align: left;

                 max-width: 75%;
                 height: 75%;

    		}

    	/*---*/

    	#about-bottom-right{

 				/*border: 1px solid black;*/

 				position: relative;

 				max-width: 49%;
 				height: 100%;

 				display: flex;
 				justify-content: center;
 				align-items: center;

    	}

    	/*-*/

    		#image-woman{

 				/*border: 1px solid black;*/

                   position: relative;

                 max-width: 500px;

    		}

    		/*-*/

    			#pic-barb{

                 display: block;

                 width: 100%;

    			}

    			#shape-barbara{

    				max-width: auto;
    				/*width: 100%;*/
    				max-height: 100%;
    				/*height: 100%;*/

    				border-radius: 77% 48% 70% 62% / 66% 75% 61% 40% ;

    				background-image: linear-gradient(45deg, #582770, #f71568, #b3c631);

    				position: relative;

    				display: flex;
    				justify-content: center;
 				align-items: center;

    			}


/*--------------------------------------------------------------*/
   
/*Benefits*/


#benefits{

		 /*border: 1px solid black;*/

		 position: relative;

		 max-width: auto;
		 height: 100%;
		 
           
		 

}

/*-*/
	
	#benefits-top{

 		 /*border: 1px solid black;*/

 		 max-width: auto;
 		 height: 10%;

 		 display: flex;
 		 flex-direction: row;
 		 justify-content: center;
 		 align-items: center;

 		 padding-top: 5%;
 		 padding-bottom: 5%;

	}

	/*-*/

		#benefits-top h2{


			position: relative;

			font-size: 5rem;
       background: #f71568;
    background: -webkit-linear-gradient(to right, #f71568, #2f2bad);
    background: linear-gradient(to right, #f71568, #2f2bad);
    -webkit-background-clip: text;
    background-clip: text; 
    color: transparent;
		}

	/*---*/

	#benefits-bottom{

 		 /*border: 1px solid black;*/

 		 position: relative;

 		 max-width: auto;
 		 height: 100%;

 		 padding-top: 5%;
 		 padding-bottom: 5%;

 		 display: flex;
 		 flex-direction: row;
 		 justify-content: space-evenly;
 		 align-items: center;
 		 flex-wrap: wrap;
 		 gap: 10px;


	}

	/*-*/

		.benefits-cards{

 		 
 		 border-radius: 40px;

 		 position: relative;

 		 max-width: 400px;
 		 height: 500px;



 		 
           background: #FFFFFF;
           box-shadow:  5px 5px 22px #dbdbdb,
             -5px -5px 22px #ffffff;
 		 

		}

		/*-*/

			.icon-place{

		 		
		 		border-radius: 40px 40px 0 0;

		 		max-width: auto;
		 		height: 25%;

		 		position: relative;

		 		display: flex;
		 		flex-direction: column;
		 		justify-content: space-evenly;
		 		align-items: center;

                    color: #f71568;




			}

			/*-*/

				.icon{


			 		position: relative;


				}

				/*---*/

                .icon h4{

                     position: relative;

                     text-align: center;


                }




			/*-*/

			.benefits-text{

 		      
 		      border-radius: 0 0 40px 40px ;

 		      position: relative;

 		      max-width: auto;
		 	  height: 75%;

 		      display: flex;
 		      flex-direction: row;
 		      justify-content: center;
 		      align-items: flex-start;

			}

			.benefits-text p {

				

				position: relative;

				max-width: 70%;

				margin-top: 5%;

				text-align: left;
				font-size: 1.2rem;

				word-spacing: 1px;

				text-indent: 10px;
			}


/*--------------------------------------------------------------*/

/*public*/

#public{

 /*border: 1px solid black;*/

 position: relative;

 max-width: auto;
 height: 820px;

 background-image: linear-gradient(45deg, #582770, #f71568, #b3c631);

 color: #ebdfcc;

 display: flex;
 flex-direction: row;
 justify-content: space-evenly;
 align-items: center;

}

/*-*/

	#public-left{


 		/*border: 1px solid black;*/

 		position: relative;

 		width: 49%;
 		height: 100%;

 		display: flex;
 		flex-direction: row;
 		justify-content: center;
 		align-items: center;

	}

	/*-*/

		#public-left h3{

			position: relative;
			font-size: 5rem;
		}

	/*---*/

	#public-right{

 		/*border: 1px solid black;*/

 		position: relative;

 		max-width: 45%;
 		height: 100%;

 		display: flex;
 		flex-direction: row;
 		justify-content: center;
 		align-items: center;

	}

	/*-*/

		ol{

 			/*border: 1px solid black;*/
 			position: relative;
 			
 			font-size: 1.2rem;

		}

		/*-*/

			.items-list{

 			/*border: 1px solid black;*/
 			

			}



/*--------------------------------------------------------------*/

#grid{
position: relative;
max-width: auto;
height: 100%;

padding-top: 5%;
padding-bottom: 5%;	

display: flex;
flex-direction: column;
align-items: space-around;
justify-content: space-around;
}

#grid-title{

	padding-top: 10%;
	padding-bottom: 10%;

	font-size: 5rem;
	text-align: center;
}

#grid-title h4{

	font-size: 2rem;

}


#grid-images{

	position: relative;

	width: 90%;
	height: 100%;

	margin: auto;

	display: grid;
	grid-template: 1fr 1fr 1fr 1fr/ 1fr 1fr 1fr;
	
	
	
}

/*-*/
	.teste-grid{

		
		overflow: hidden;

		position: relative;}

	.grid-layout{

		width: 100%;
		border-radius: 20px;
	}

	#show{

		position: relative;
		margin: auto;
		text-align: center;
	}

	#show h3{

		padding: 10% 0 10% 0;
		font-size: 3rem;
	}

	video{

		border-radius: 20px;
		margin: auto;
		display: block;
	}

/*--------------------------------------------------------------*/

/*plans*/

#plans{

	/*border: 1px solid black;*/

	position: relative;

	max-width: auto;
	height: 820px;

	

	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
 

}

/*-*/

	#plans-top{

 		/*border: 1px solid black;*/

 		position: relative;

 		width: auto;
 		height: 20%;

 		text-align: center;

 		display: flex;
 		flex-direction: column;
 		justify-content: center;
 		align-items: center;

	}

	/*-*/

		#plans-top h3{
 
          position: relative;

          font-size: 5rem;

		}


	/*---*/

	#plans-bottom{

 		

 		width: 70%;

 		position: relative;

 		display: flex;
 		flex-direction: row;
 		justify-content: space-evenly;
 		align-items: center;
 		flex-wrap: wrap;


	}

	/*-*/

		.option-plans{

 		

 		border-radius: 20px;

 		background: #FFFFFF;

 		font-weight: bold;

 		position: relative;

 		width: 40%;
 		height: 350px;

 		display: flex;
 		flex-direction: column;
 		justify-content: space-evenly;
 		align-items: center;

 		box-shadow:  5px 5px 22px #dbdbdb,
             -5px -5px 22px #ffffff;
 		 

		}

		/*---*/

		#anual-plan{


			background-image: linear-gradient(45deg, #582770, #f71568);
			color: whitesmoke;
		}

		/*---*/

		#mensal-plan{


			background-image: linear-gradient(45deg, #FFFFFF, #fcfdff);
			color: #090f13;
		}

		#mensal-plan h5{

			color: #f71568;
		} 



		/*-*/

			 .option-plans-top{

			 	max-width: 75%;
			 	max-height: 50%;

			 	display: flex;
			 	flex-direction: row;
			 	justify-content: center;
			 	align-items: center;

			 	/*border: 1px solid black;*/

			 	text-align: center;
			 }

			 /*-*/

			 	.option-plans-top h5{

			 		font-size: 3rem;
			 	}

			 	/*---*/

			 	.option-plans-top p{

			 		font-size: 1.5rem;
			 	}

			 /*---*/

			  .option-plans-bottom{

			  	/*border: 1px solid black;*/

			  }

			  /*-*/

			  		 .option-plans-bottom p{

                         font-size: 1.5rem;

			  		 }

			  		 /*---*/

			  		 .cta-btt{

			  		 	border: none;
			  		 	border-radius: 30px;

			  		 	font-size: 1.2rem;

			  		 	padding: 20px 40px 20px 40px;
			  		 }


			  		 #mensal-plan .cta-btt{

			  		 	background-image: linear-gradient(45deg, #582770, #f71568);
			  		 	color: whitesmoke;
			  		 }


/*--------------------------------------------------------------*/

/*footer*/

footer{

     /*border: 1px solid black;

     max-width: auto;*/
     height: 150px;

	 /*position: relative;*/

	 background-image: linear-gradient(45deg, #582770, #f71568);

	 display: flex;
	 flex-direction: row;
	 justify-content: space-around;
	 align-items: flex-start;
	 padding-top: 5%;

	 	color: whitesmoke;


	 
}

/*-*/

	#footer-left{

 	 /*border: 1px solid black;*/

 	 position: relative;
 	 font-size: 2rem;
 	 width: 40%;

	}

	/*---*/

	#footer-right{


 	/*border: 1px solid black;*/

 	position: relative;

 	width: 50%;

 	display: flex;
 	flex-direction: row;
 	justify-content: space-evenly;
 	align-items: flex-start;


	}

	/*-*/

		.items-footer{

		/* border: 1px solid black;*/
		 text-decoration: none;	
		}

		.items-footer a{

			text-decoration: none;
			color: whitesmoke;	
		}


		/*-----mediaqueries-----*/


@media screen and (min-width: 320px) and (max-width: 450px){




	html,body{

		font-size: 50%;
	}


	#frame{

		width: 100%;
		margin-right: auto;
	}


	header{

		padding: 10%;
	}



	.items{

				position: relative;
				font-size: 1.2rem;
			}



    .sections{

    	max-height: 100vh;
    	
    }


    /*------------*/

	#title-introduction{

		/*border: 1px solid black;*/

		width: 80%;

		font-size: 6rem;

		font-family: teste;

		margin-bottom: 5%;

		position: relative;

		line-height: 75px;

	}


	#title-introduction h1{

		font-family: teste;
		text-align: left;
		font-weight: 600;

	}

	#title-introduction h2{

		font-family: teste2;
          font-size: 6rem;
          text-align: right;

          color: #cde54e;

          font-weight: normal;
	}
	/*---*/

	#sub-title-introduction{

		/*border: 1px solid black;*/

        max-width: 100%;

        font-size: 2rem;

		text-align: center;

	}







	/*---------------*/


#about-top, #about-bottom{

	flex-direction: column;
	text-align: center;
}


/*---*/

		#about-bottom-left-content{

      /*border: 1px solid black;*/

      position: relative;

      font-size: 2rem;
      text-align: center;

      max-width:100%;
      height: auto;
    

    		}



#image-woman{


     position: relative;
     max-width:300px;

    		}



	.benefits-cards{

 		 
 		 border-radius: 40px;

 		 position: relative;

 		 max-width: 250px;
 		 height: 350px;
     background: #FFFFFF;
     box-shadow:  5px 5px 22px #dbdbdb,
     -5px -5px 22px #ffffff;

     font-size: 1.5rem;
 		 

		}


		.icon-place{

		 		
		 		/*border-radius: 40px 40px 0 0;*/

		 		/*max-width: auto;*/
		 		height: 30%;

		 		/*position: relative;*/

		 		/*display: flex;
		 		flex-direction: column;
		 		justify-content: space-evenly;
		 		align-items: center;
*/
        /*color: #f71568;*/
        font-size: 1.6rem;
        text-align: center;


			}

			.benefits-text p {

				

				/*position: relative;*/

				max-width: 70%;

				margin-top: 5%;

				text-align: left;
				font-size: 1.5rem;

				word-spacing: 1px;

				text-indent: 10px;
			}

/*----------------*/

#public{

 /*border: 1px solid black;*/

 /*position: relative;*/

/* max-width: auto;*/
 /*height: 820px;*/

 /*background-image: linear-gradient(45deg, #582770, #f71568, #b3c631);

 color: #ebdfcc;*/

 /*display: flex;*/
 flex-direction: column;
 justify-content: center;
 align-items: space-evenly;

 padding-bottom: 20%;
 padding-top: 15%;

}



	#public-left{


 		/*border: 1px solid black;*/

 		/*position: relative;*/

 		width: 100%;
 		padding-top: 10%;
 		padding-bottom: 15%;
 		/*height: 100%;*/

 		/*display: flex;
 		flex-direction: row;
 		justify-content: center;
 		align-items: center;*/

	}

	/*-*/

		#public-left h3{

			/*position: relative;
			font-size: 5rem;*/
			text-align: center;
		}

	/*---*/

	#public-right{

 		/*border: 1px solid black;*/

 		position: relative;

 		max-width: 45%;
 		height: 100%;

 		display: flex;
 		flex-direction: row;
 		justify-content: center;
 		align-items: center;

	}

	/*-*/

		ol{

 			/*border: 1px solid black;*/
 			position: relative;
 			
 			font-size: 1.5rem;

		}

		/*-*/

			.items-list{

 			/*border: 1px solid black;*/
 			

			}

/*---------------------------*/


#grid{

/*position: relative;
max-width: auto;
height: 100%;

padding-top: 5%;
padding-bottom: 5%;	

display: flex;
flex-direction: column;
align-items: space-around;
justify-content: space-around;*/

}

#grid-title{

	/*padding-top: 10%;
	padding-bottom: 10%;

	font-size: 5rem;
	text-align: center;*/
}

#grid-title h4{

	/*font-size: 2rem;*/

}


#grid-images{

	/*position: relative;

	width: 90%;
	height: 100%;

	margin: auto;*/

	display: grid;
	grid-template: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr/ 1fr;
	gap: 10px;
	
	
	
}

/*-*/
	.teste-grid{

		
		/*overflow: hidden;

		position: relative*/;}

	.grid-layout{

		/*width: 100%;
		border-radius: 20px;*/
	}

	#show{

		/*position: relative;
		margin: auto;
		text-align: center;*/

		padding-top: 15%;
	}

	#show h3{

		/*padding: 10% 0 10% 0;
		font-size: 3rem;*/
	}

	video{

	/*	border-radius: 20px;
		margin: auto;
		display: block;*/
	}


/*-----------------------------*/


#plans{

	/*border: 1px solid black;*/

	/*position: relative;*/

	/*max-width: auto;*/
	height: 100vh;

	padding-top: 5%;

	/*display: flex;*/
	/*flex-direction: column;
	justify-content: space-evenly;
	align-items: center;*/
 

}

/*-*/

	#plans-top{

 		/*border: 1px solid black;*/

 		/*position: relative;*/

 		/*width: auto;*/
 		height: 15%;

 		/*text-align: center;*/

 		display: flex;
 		flex-direction: column;
 		justify-content: space-around;
 		align-items: center;

	}

	/*-*/

		#plans-top h4{
 

     font-size: 2rem;

		}


	/*---*/

	#plans-bottom{

 		

 		width: 95%;

 		/*position: relative;

 		display: flex;
 		flex-direction: row;
 		justify-content: space-evenly;
 		align-items: center;*/
 		flex-wrap: nowrap;
 		gap: 10px;


	}

	/*-*/

		.option-plans{

 		

 		/*border-radius: 20px;

 		background: #FFFFFF;

 		font-weight: bold;

 		position: relative;*/

 		width: 50%;
 		height: 200px;

 		/*display: flex;
 		flex-direction: column;
 		justify-content: space-evenly;
 		align-items: center;*/

 		/*box-shadow:  5px 5px 22px #dbdbdb,
             -5px -5px 22px #ffffff;*/
 		 

		}

		/*---*/

		#anual-plan{


			/*background-image: linear-gradient(45deg, #582770, #f71568);
			color: whitesmoke;*/
		}

		/*---*/

		#mensal-plan{


			/*background-image: linear-gradient(45deg, #FFFFFF, #fcfdff);
			color: #090f13;*/
		}

		#mensal-plan h5{

			/*color: #f71568;*/
		} 



		/*-*/

			 .option-plans-top{

			 	/*max-width: 75%;
			 	max-height: 50%;
*/
			 	/*display: flex;
			 	flex-direction: row;
			 	justify-content: center;
			 	align-items: center;*/

			 	/*border: 1px solid black;*/

			 	/*text-align: center;*/
			 }

			 /*-*/

			 	.option-plans-top h5{

			 		font-size: 3rem;
			 	}

			 	/*---*/

			 	.option-plans-top p{

			 		font-size: 1.8rem;
			 	}

			 /*---*/

			  .option-plans-bottom{

			  	/*border: 1px solid black;*/

			  }

			  /*-*/

			  		 .option-plans-bottom p{

                         font-size: 1.2rem;

			  		 }

			  		 /*---*/

			  		 .cta-btt{

			  		 	/*border: none;
			  		 	border-radius: 30px;*/

			  		 	font-size: 1.2rem;

			  		 	padding: 10px 20px 10px 20px;
			  		 }


			  		 #mensal-plan .cta-btt{

			  		 /*	background-image: linear-gradient(45deg, #582770, #f71568);
			  		 	color: whitesmoke;*/
			  		 }



			  		 footer{

     /*border: 1px solid black;

     max-width: auto;*/
     height: 150px;

	 /*position: relative;*/

	 background-image: linear-gradient(45deg, #582770, #f71568);

	 /*display: flex;
	 flex-direction: row;
	 justify-content: space-around;*/
	 align-items: flex-start;
	 padding-top: 5%;

	 	color: whitesmoke;


	 
}

/*-*/

	#footer-left{
/*
 	 border: 1px solid black;

 	 position: relative;*/

 	 font-size: 2rem;
 	 width: 40%;

	}

	/*---*/

	#footer-right{


 	/*border: 1px solid black;*/

 	position: relative;

 	width: 30%;

 	display: flex;
 	flex-direction: column;
 	justify-content: space-evenly;
 	align-items: flex-start;

 	color: whitesmoke;


	}

	/*-*/

		.items-footer{

		 /*border: 1px solid black;	*/

		 font-size: 1.2rem;
		}


}


/*-------------*/


@media screen and (min-width: 450px) and (max-width: 650px){



	html,body{

		font-size: 50%;
	}


	#frame{

		width: 100%;
		margin-right: auto;
	}


	header{

		padding: 10%;
	}



	.items{

				position: relative;
				font-size: 1.5rem;
			}



    .sections{

    	max-height: 100vh;
    	
    }


    /*------------*/

	#title-introduction{

		/*border: 1px solid black;*/

		width: 70%;

		font-size: 7rem;

		font-family: teste;

		margin-bottom: 5%;

		position: relative;

		line-height: 75px;

	}


	#title-introduction h1{

		font-family: teste;
		text-align: left;
		font-weight: 600;

	}

	#title-introduction h2{

		font-family: teste2;
          font-size: 6rem;
          text-align: right;

          color: #cde54e;

          font-weight: normal;
	}
	/*---*/

	#sub-title-introduction{

		/*border: 1px solid black;*/

        max-width: 90%;

        font-size: 2.0rem;

		text-align: center;

	}







	/*---------------*/

	#about{

		height: 100%;
		padding-top: 10%;
		padding-bottom: 10%;
	}


#about-top, #about-bottom{

	flex-direction: column;
	align-items: space-around;
	text-align: center;
	padding-bottom: 10%;

	gap: 30px;
}


/*---*/

		#about-bottom-left-content{

      /*border: 1px solid black;*/

      position: relative;

      font-size: 2.5rem;
      text-align: center;

      max-width:100%;
      height: auto;
    

    		}



#image-woman{


     position: relative;
     max-width:300px;

    		}



	.benefits-cards{

 		 
 		 border-radius: 40px;

 		 position: relative;

 		 max-width: 250px;
 		 height: 350px;
     background: #FFFFFF;
     box-shadow:  5px 5px 22px #dbdbdb,
     -5px -5px 22px #ffffff;

     font-size: 1.5rem;
 		 

		}


		.icon-place{

		 		
		 		/*border-radius: 40px 40px 0 0;*/

		 		/*max-width: auto;*/
		 		height: 30%;

		 		/*position: relative;*/

		 		/*display: flex;
		 		flex-direction: column;
		 		justify-content: space-evenly;
		 		align-items: center;
*/
        /*color: #f71568;*/
        font-size: 1.6rem;
        text-align: center;


			}

			.benefits-text p {

				

				/*position: relative;*/

				max-width: 70%;

				margin-top: 5%;

				text-align: left;
				font-size: 1.5rem;

				word-spacing: 1px;

				text-indent: 10px;
			}

/*----------------*/

#public{

 /*border: 1px solid black;*/

 /*position: relative;*/

/* max-width: auto;*/
 height: 100%;

 /*background-image: linear-gradient(45deg, #582770, #f71568, #b3c631);

 color: #ebdfcc;*/

 /*display: flex;*/
 flex-direction: column;
 justify-content: center;
 align-items: space-evenly;

 padding-bottom: 25%;
 padding-top: 15%;

}



	#public-left{


 		/*border: 1px solid black;*/

 		/*position: relative;*/

 		width: 100%;
 		padding-top: 10%;
 		padding-bottom: 15%;
 		/*height: 100%;*/

 		/*display: flex;
 		flex-direction: row;
 		justify-content: center;
 		align-items: center;*/

	}

	/*-*/

		#public-left h3{

			/*position: relative;
			font-size: 5rem;*/
			text-align: center;
		}

	/*---*/

	#public-right{

 		/*border: 1px solid black;*/

 		position: relative;

 		max-width: 45%;
 		height: 100%;

 		display: flex;
 		flex-direction: row;
 		justify-content: center;
 		align-items: center;

	}

	/*-*/

		ol{

 			/*border: 1px solid black;*/
 			position: relative;
 			
 			font-size: 1.7rem;

		}

		/*-*/

			.items-list{

 			/*border: 1px solid black;*/
 			

			}

/*---------------------------*/


#grid{

/*position: relative;
max-width: auto;
height: 100%;

padding-top: 5%;
padding-bottom: 5%;	

display: flex;
flex-direction: column;
align-items: space-around;
justify-content: space-around;*/

}

#grid-title{

	/*padding-top: 10%;
	padding-bottom: 10%;

	font-size: 5rem;
	text-align: center;*/
}

#grid-title h4{

	/*font-size: 2rem;*/

}


#grid-images{

	/*position: relative;

	width: 90%;
	height: 100%;

	margin: auto;*/

	display: grid;
	grid-template: 1fr 1fr 1fr 1fr 1fr 1fr / 1fr 1fr;
	gap: 10px;
	
	
	
}

/*-*/
	.teste-grid{

		
		/*overflow: hidden;

		position: relative*/}

	.grid-layout{

		/*width: 100%;
		border-radius: 20px;*/
	}

	#show{

		/*position: relative;
		margin: auto;
		text-align: center;*/

		padding-top: 15%;
	}

	#show h3{

		/*padding: 10% 0 10% 0;
		font-size: 3rem;*/
	}

	video{

	/*	border-radius: 20px;
		margin: auto;
		display: block;*/
	}


/*-----------------------------*/


#plans{

	/*border: 1px solid black;*/

	/*position: relative;*/

	/*max-width: auto;*/
	height: 100vh;

	padding-top: 5%;

	/*display: flex;*/
	/*flex-direction: column;
	justify-content: space-evenly;
	align-items: center;*/
 

}

/*-*/

	#plans-top{

 		/*border: 1px solid black;*/

 		/*position: relative;*/

 		/*width: auto;*/
 		height: 15%;

 		/*text-align: center;*/

 		display: flex;
 		flex-direction: column;
 		justify-content: space-around;
 		align-items: center;

	}

	/*-*/

		#plans-top h4{
 

     font-size: 2rem;

		}


	/*---*/

	#plans-bottom{

 		

 		width: 95%;

 		/*position: relative;

 		display: flex;
 		flex-direction: row;
 		justify-content: space-evenly;
 		align-items: center;*/
 		flex-wrap: nowrap;
 		gap: 10px;


	}

	/*-*/

		.option-plans{

 		

 		/*border-radius: 20px;

 		background: #FFFFFF;

 		font-weight: bold;

 		position: relative;*/

 		width: 40%;
 		height: 225px;

 		/*display: flex;
 		flex-direction: column;
 		justify-content: space-evenly;
 		align-items: center;*/

 		/*box-shadow:  5px 5px 22px #dbdbdb,
             -5px -5px 22px #ffffff;*/
 		 

		}

		/*---*/

		#anual-plan{


			/*background-image: linear-gradient(45deg, #582770, #f71568);
			color: whitesmoke;*/
		}

		/*---*/

		#mensal-plan{


			/*background-image: linear-gradient(45deg, #FFFFFF, #fcfdff);
			color: #090f13;*/
		}

		#mensal-plan h5{

			/*color: #f71568;*/
		} 



		/*-*/

			 .option-plans-top{

			 	/*max-width: 75%;
			 	max-height: 50%;
*/
			 	/*display: flex;
			 	flex-direction: row;
			 	justify-content: center;
			 	align-items: center;*/

			 	/*border: 1px solid black;*/

			 	/*text-align: center;*/
			 }

			 /*-*/

			 	.option-plans-top h5{

			 		font-size: 3rem;
			 	}

			 	/*---*/

			 	.option-plans-top p{

			 		font-size: 1.8rem;
			 	}

			 /*---*/

			  .option-plans-bottom{

			  	/*border: 1px solid black;*/

			  }

			  /*-*/

			  		 .option-plans-bottom p{

                         font-size: 1.2rem;

			  		 }

			  		 /*---*/

			  		 .cta-btt{

			  		 	/*border: none;
			  		 	border-radius: 30px;*/

			  		 	font-size: 1.2rem;

			  		 	padding: 10px 20px 10px 20px;
			  		 }


			  		 #mensal-plan .cta-btt{

			  		 /*	background-image: linear-gradient(45deg, #582770, #f71568);
			  		 	color: whitesmoke;*/
			  		 }



			  		 footer{

     /*border: 1px solid black;

     max-width: auto;*/
     height: 150px;

	 /*position: relative;*/

	 background-image: linear-gradient(45deg, #582770, #f71568);

	 /*display: flex;
	 flex-direction: row;
	 justify-content: space-around;*/
	 align-items: flex-start;
	 padding-top: 5%;

	 	color: whitesmoke;


	 
}

/*-*/

	#footer-left{
/*
 	 border: 1px solid black;

 	 position: relative;*/

 	 font-size: 2rem;
 	 width: 40%;

	}

	/*---*/

	#footer-right{


 	/*border: 1px solid black;*/

 	position: relative;

 	width: 30%;

 	display: flex;
 	flex-direction: column;
 	justify-content: space-evenly;
 	align-items: flex-start;

 	color: whitesmoke;


	}

	/*-*/

		.items-footer{

		 /*border: 1px solid black;	*/

		 font-size: 1.2rem;
		}




	

}




@media screen and (min-width: 651px) and (max-width: 900px){



	html,body{

		font-size: 50%;
	}


	#frame{

		width: 100%;
		margin-right: auto;
	}


	header{

		padding: 10%;
	}



	.items{

				position: relative;
				font-size: 1.5rem;
			}



    .sections{

    	max-height: 100vh;
    	
    }


    /*------------*/

	#title-introduction{

		/*border: 1px solid black;*/

		width: 50%;

		font-size: 8rem;

		font-family: teste;

		margin-bottom: 5%;

		position: relative;

		line-height: 75px;

	}


	#title-introduction h1{

		font-family: teste;
		text-align: left;
		font-weight: 600;

	}

	#title-introduction h2{

		font-family: teste2;
          font-size: 6rem;
          text-align: right;

          color: #cde54e;

          font-weight: normal;
	}
	/*---*/

	#sub-title-introduction{

		/*border: 1px solid black;*/

        max-width: 90%;

        font-size: 2.0rem;

		text-align: center;

	}







	/*---------------*/

	#about{

		height: 100%;
		padding-top: 10%;
		padding-bottom: 10%;
	}


#about-top, #about-bottom{

	flex-direction: row;
	align-items: space-evenly;
	text-align: center;
	padding-bottom: 10%;

	gap: 30px;
}


/*---*/

		#about-bottom-left-content{

      /*border: 1px solid black;*/

      position: relative;

      padding-left: 2%;

      font-size: 2.5rem;
      text-align: left;

      max-width:100%;
      height: auto;
    

    		}



#image-woman{


     position: relative;
     max-width:300px;

    		}



	.benefits-cards{

 		 
 		 border-radius: 40px;

 		 position: relative;

 		 max-width: 250px;
 		 height: 350px;
     background: #FFFFFF;
     box-shadow:  5px 5px 22px #dbdbdb,
     -5px -5px 22px #ffffff;

     font-size: 1.5rem;
 		 

		}


		.icon-place{

		 		
		 		/*border-radius: 40px 40px 0 0;*/

		 		/*max-width: auto;*/
		 		height: 30%;

		 		/*position: relative;*/

		 		/*display: flex;
		 		flex-direction: column;
		 		justify-content: space-evenly;
		 		align-items: center;
*/
        /*color: #f71568;*/
        font-size: 1.6rem;
        text-align: center;


			}

			.benefits-text p {

				

				/*position: relative;*/

				max-width: 70%;

				margin-top: 5%;

				text-align: left;
				font-size: 1.5rem;

				word-spacing: 1px;

				text-indent: 10px;
			}

/*----------------*/

#public{

 /*border: 1px solid black;*/

 /*position: relative;*/

/* max-width: auto;*/
 height: 100%;

 /*background-image: linear-gradient(45deg, #582770, #f71568, #b3c631);

 color: #ebdfcc;*/

 /*display: flex;*/
 flex-direction: row;
 justify-content: space-evenly;
 align-items: flex-start;

 padding-bottom: 20%;
 padding-top: 15%;

}



	#public-left{


 		/*border: 1px solid black;*/

 		/*position: relative;*/

 		width: 100%;
 		padding-top: 10%;
 		padding-bottom: 15%;
 		/*height: 100%;*/

 		/*display: flex;
 		flex-direction: row;
 		justify-content: center;
 		align-items: center;*/

	}

	/*-*/

		#public-left h3{

			/*position: relative;
			font-size: 5rem;*/
			text-align: center;
		}

	/*---*/

	#public-right{

 		/*border: 1px solid black;*/

 		position: relative;

 		max-width: 45%;
 		height: 100%;

 		display: flex;
 		flex-direction: row;
 		justify-content: center;
 		align-items: center;

	}

	/*-*/

		ol{

 			/*border: 1px solid black;*/
 			position: relative;
 			
 			font-size: 1.7rem;

		}

		/*-*/

			.items-list{

 			/*border: 1px solid black;*/
 			

			}

/*---------------------------*/


#grid{

/*position: relative;
max-width: auto;
height: 100%;

padding-top: 5%;
padding-bottom: 5%;	

display: flex;
flex-direction: column;
align-items: space-around;
justify-content: space-around;*/

}

#grid-title{

	/*padding-top: 10%;
	padding-bottom: 10%;

	font-size: 5rem;
	text-align: center;*/
}

#grid-title h4{

	/*font-size: 2rem;*/

}


#grid-images{

	/*position: relative;

	width: 90%;
	height: 100%;

	margin: auto;*/

	display: grid;
	grid-template: 1fr 1fr 1fr 1fr 1fr 1fr / 1fr 1fr;
	gap: 5px;
	
	
	
}

/*-*/
	.teste-grid{

		
		/*overflow: hidden;

		position: relative*/}

	.grid-layout{

		/*width: 100%;
		border-radius: 20px;*/
	}

	#show{

		/*position: relative;
		margin: auto;
		text-align: center;*/

		padding-top: 15%;
	}

	#show h3{

		/*padding: 10% 0 10% 0;
		font-size: 3rem;*/
	}

	video{

	/*	border-radius: 20px;
		margin: auto;
		display: block;*/
	}


/*-----------------------------*/


#plans{

	/*border: 1px solid black;*/

	/*position: relative;*/

	/*max-width: auto;*/
	height: 100vh;

	padding-top: 5%;

	/*display: flex;*/
	/*flex-direction: column;
	justify-content: space-evenly;
	align-items: center;*/
 

}

/*-*/

	#plans-top{

 		/*border: 1px solid black;*/

 		/*position: relative;*/

 		/*width: auto;*/
 		height: 15%;

 		/*text-align: center;*/

 		display: flex;
 		flex-direction: column;
 		justify-content: space-around;
 		align-items: center;

	}

	/*-*/

		#plans-top h4{
 

     font-size: 2rem;

		}


	/*---*/

	#plans-bottom{

 		

 		width: 80%;

 		/*position: relative;*/

 		/*display: flex;
 		flex-direction: row;*/
 		justify-content: space-evenly;
 		align-items: center;
 		/*flex-wrap: nowrap;*/
 		gap: 10px;


	}

	/*-*/

		.option-plans{

 		

 		/*border-radius: 20px;

 		background: #FFFFFF;

 		font-weight: bold;

 		position: relative;*/

 	min-width: 32%;
 	max-width: 37%;
 		height: 225px;

 		display: flex;
 		flex-direction: column;
 		justify-content: space-evenly;
 		align-items: center;

 		/*box-shadow:  5px 5px 22px #dbdbdb,
             -5px -5px 22px #ffffff;*/
 		 

		}

		/*---*/

		#anual-plan{


			/*background-image: linear-gradient(45deg, #582770, #f71568);
			color: whitesmoke;*/
		}

		/*---*/

		#mensal-plan{


			/*background-image: linear-gradient(45deg, #FFFFFF, #fcfdff);
			color: #090f13;*/
		}

		#mensal-plan h5{

			/*color: #f71568;*/
		} 



		/*-*/

			 .option-plans-top{

			 	/*max-width: 75%;
			 	max-height: 50%;
*/
			 	/*display: flex;
			 	flex-direction: row;
			 	justify-content: center;
			 	align-items: center;*/

			 	/*border: 1px solid black;*/

			 	/*text-align: center;*/
			 }

			 /*-*/

			 	.option-plans-top h5{

			 		font-size: 3rem;
			 	}

			 	/*---*/

			 	.option-plans-top p{

			 		font-size: 1.8rem;
			 	}

			 /*---*/

			  .option-plans-bottom{

			  	/*border: 1px solid black;*/

			  }

			  /*-*/

			  		 .option-plans-bottom p{

                         font-size: 1.2rem;

			  		 }

			  		 /*---*/

			  		 .cta-btt{

			  		 	/*border: none;
			  		 	border-radius: 30px;*/

			  		 	font-size: 1.2rem;

			  		 	padding: 10px 20px 10px 20px;
			  		 }


			  		 #mensal-plan .cta-btt{

			  		 /*	background-image: linear-gradient(45deg, #582770, #f71568);
			  		 	color: whitesmoke;*/
			  		 }



			  		 footer{

     /*border: 1px solid black;

     max-width: auto;*/
     height: 150px;

	 /*position: relative;*/

	 background-image: linear-gradient(45deg, #582770, #f71568);

	 /*display: flex;
	 flex-direction: row;
	 justify-content: space-around;*/
	 align-items: flex-start;
	 padding-top: 5%;

	 	color: whitesmoke;


	 
}

/*-*/

	#footer-left{
/*
 	 border: 1px solid black;

 	 position: relative;*/

 	 font-size: 2rem;
 	 width: 40%;

	}

	/*---*/

	#footer-right{


 	/*border: 1px solid black;*/

 	position: relative;

 	width: 30%;

 	display: flex;
 	flex-direction: column;
 	justify-content: space-evenly;
 	align-items: flex-start;

 	color: whitesmoke;


	}

	/*-*/

		.items-footer{

		 /*border: 1px solid black;	*/

		 font-size: 1.2rem;
		}




	

}


@media screen and (min-width: 901px) and (max-width: 1024px){



	html,body{

		font-size: 62.5%;
	}


	#frame{

		width: 100%;
		margin-right: auto;
	}


	header{

		padding: 3%;
	}



	.items{

				position: relative;
				font-size: 1.5rem;
			}



    .sections{

    	max-height: 100vh;
    	
    }


    /*------------*/

  #introduction{

	     /*border: 1px solid black;*/

          position: relative;

          max-width: auto;
		      height: 100vh;

          margin: auto;

          color: #ebdfcc;
          

          display: flex;
          flex-direction: column;
          justify-content: center;
          justify-items: space-around;
          align-content: space-around;
          align-items: center;

          background-image: linear-gradient(45deg, #582770, #f71568, #b3c631);

          
      

}



	#title-introduction{

		/*border: 1px solid black;*/

		width: 50%;

		font-size: 10rem;

		font-family: teste;

		margin-bottom: 5%;

		position: relative;

		line-height: 75px;

	}


	#title-introduction h1{

		font-family: teste;
		text-align: left;
		font-weight: 600;

	}

	#title-introduction h2{

		font-family: teste2;
          font-size: 6rem;
          text-align: right;

          color: #cde54e;

          font-weight: normal;
	}
	/*---*/

	#sub-title-introduction{

		/*border: 1px solid black;*/

        max-width: 90%;

        font-size: 2.0rem;

		text-align: center;

	}







	/*---------------*/

	#about{

		height: 100%;
		padding-top: 10%;
		padding-bottom: 10%;
	}


#about-top, #about-bottom{

	flex-direction: row;
	align-items: space-evenly;
	text-align: center;
	padding-bottom: 10%;

	gap: 30px;
}


/*---*/

		#about-bottom-left-content{

      /*border: 1px solid black;*/

      position: relative;

      padding-left: 2%;

      font-size: 2.5rem;
      text-align: left;

      max-width:100%;
      height: auto;
    

    		}



#image-woman{


     position: relative;
     max-width:300px;

    		}



	.benefits-cards{

 		 
 		 border-radius: 40px;

 		 position: relative;

 		 max-width: 250px;
 		 height: 350px;
     background: #FFFFFF;
     box-shadow:  5px 5px 22px #dbdbdb,
     -5px -5px 22px #ffffff;

     font-size: 1.5rem;
 		 

		}


		.icon-place{

		 		
		 		/*border-radius: 40px 40px 0 0;*/

		 		/*max-width: auto;*/
		 		height: 30%;

		 		/*position: relative;*/

		 		/*display: flex;
		 		flex-direction: column;
		 		justify-content: space-evenly;
		 		align-items: center;
*/
        /*color: #f71568;*/
        font-size: 1.6rem;
        text-align: center;


			}

			.benefits-text p {

				

				/*position: relative;*/

				max-width: 70%;

				margin-top: 5%;

				text-align: left;
				font-size: 1.2rem;

				word-spacing: 1px;

				text-indent: 10px;
			}

/*----------------*/

#public{

 /*border: 1px solid black;*/

 /*position: relative;*/

/* max-width: auto;*/
 height: 100%;

 /*background-image: linear-gradient(45deg, #582770, #f71568, #b3c631);

 color: #ebdfcc;*/

 /*display: flex;*/
 flex-direction: row;
 justify-content: space-evenly;
 align-items: flex-start;

 padding-bottom: 20%;
 padding-top: 15%;

}



	#public-left{


 		/*border: 1px solid black;*/

 		/*position: relative;*/

 		width: 100%;
 		padding-top: 10%;
 		padding-bottom: 15%;
 		/*height: 100%;*/

 		/*display: flex;
 		flex-direction: row;
 		justify-content: center;
 		align-items: center;*/

	}

	/*-*/

		#public-left h3{

			/*position: relative;
			font-size: 5rem;*/
			text-align: center;
		}

	/*---*/

	#public-right{

 		/*border: 1px solid black;*/

 		position: relative;

 		max-width: 45%;
 		height: 100%;

 		display: flex;
 		flex-direction: row;
 		justify-content: center;
 		align-items: center;

	}

	/*-*/

		ol{

 			/*border: 1px solid black;*/
 			position: relative;
 			
 			font-size: 1.7rem;

		}

		/*-*/

			.items-list{

 			/*border: 1px solid black;*/
 			

			}

/*---------------------------*/


#grid{

/*position: relative;
max-width: auto;
height: 100%;

padding-top: 5%;
padding-bottom: 5%;	

display: flex;
flex-direction: column;
align-items: space-around;
justify-content: space-around;*/

}

#grid-title{

	/*padding-top: 10%;
	padding-bottom: 10%;

	font-size: 5rem;
	text-align: center;*/
}

#grid-title h4{

	/*font-size: 2rem;*/

}


#grid-images{

	/*position: relative;

	width: 90%;
	height: 100%;

	margin: auto;*/

	display: grid;
	grid-template: 1fr 1fr 1fr 1fr/ 1fr 1fr 1fr;
	gap: 2px;
	
	
	
}

/*-*/
	.teste-grid{

		
		/*overflow: hidden;

		position: relative*/}

	.grid-layout{

		/*width: 100%;
		border-radius: 20px;*/
	}

	#show{

		/*position: relative;
		margin: auto;
		text-align: center;*/

		padding-top: 15%;
	}

	#show h3{

		/*padding: 10% 0 10% 0;
		font-size: 3rem;*/
	}

	video{

	/*	border-radius: 20px;
		margin: auto;
		display: block;*/
	}


/*-----------------------------*/


#plans{

	/*border: 1px solid black;*/

	/*position: relative;*/

	/*max-width: auto;*/
	height: 100vh;

	padding-top: 5%;

	/*display: flex;*/
	/*flex-direction: column;
	justify-content: space-evenly;
	align-items: center;*/
 

}

/*-*/

	#plans-top{

 		/*border: 1px solid black;*/

 		/*position: relative;*/

 		/*width: auto;*/
 		height: 15%;

 		/*text-align: center;*/

 		display: flex;
 		flex-direction: column;
 		justify-content: space-around;
 		align-items: center;

	}

	/*-*/

		#plans-top h4{
 

     font-size: 2rem;

		}


	/*---*/

	#plans-bottom{

 		

 		width: 80%;

 		/*position: relative;*/

 		/*display: flex;
 		flex-direction: row;*/
 		justify-content: space-evenly;
 		align-items: center;
 		/*flex-wrap: nowrap;*/
 		gap: 10px;


	}

	/*-*/

		.option-plans{

 		

 		/*border-radius: 20px;

 		background: #FFFFFF;

 		font-weight: bold;

 		position: relative;*/

 	min-width: 30%;
 	max-width: 35%;
 		height: 250px;

 		display: flex;
 		flex-direction: column;
 		justify-content: space-evenly;
 		align-items: center;

 		/*box-shadow:  5px 5px 22px #dbdbdb,
             -5px -5px 22px #ffffff;*/
 		 

		}

		/*---*/

		#anual-plan{


			/*background-image: linear-gradient(45deg, #582770, #f71568);
			color: whitesmoke;*/
		}

		/*---*/

		#mensal-plan{


			/*background-image: linear-gradient(45deg, #FFFFFF, #fcfdff);
			color: #090f13;*/
		}

		#mensal-plan h5{

			/*color: #f71568;*/
		} 



		/*-*/

			 .option-plans-top{

			 	/*max-width: 75%;
			 	max-height: 50%;
*/
			 	/*display: flex;
			 	flex-direction: row;
			 	justify-content: center;
			 	align-items: center;*/

			 	/*border: 1px solid black;*/

			 	/*text-align: center;*/
			 }

			 /*-*/

			 	.option-plans-top h5{

			 		font-size: 3rem;
			 	}

			 	/*---*/

			 	.option-plans-top p{

			 		font-size: 1.8rem;
			 	}

			 /*---*/

			  .option-plans-bottom{

			  	/*border: 1px solid black;*/

			  }

			  /*-*/

			  		 .option-plans-bottom p{

                         font-size: 1.2rem;

			  		 }

			  		 /*---*/

			  		 .cta-btt{

			  		 	/*border: none;
			  		 	border-radius: 30px;*/

			  		 	font-size: 1.2rem;

			  		 	padding: 10px 20px 10px 20px;
			  		 }


			  		 #mensal-plan .cta-btt{

			  		 /*	background-image: linear-gradient(45deg, #582770, #f71568);
			  		 	color: whitesmoke;*/
			  		 }



			  		 footer{

     /*border: 1px solid black;

     max-width: auto;*/
     height: 150px;

	 /*position: relative;*/

	 background-image: linear-gradient(45deg, #582770, #f71568);

	 /*display: flex;
	 flex-direction: row;
	 justify-content: space-around;*/
	 align-items: flex-start;
	 padding-top: 5%;

	 	color: whitesmoke;


	 
}

/*-*/

	#footer-left{
/*
 	 border: 1px solid black;

 	 position: relative;*/

 	 font-size: 2rem;
 	 width: 40%;

	}

	/*---*/

	#footer-right{


 	/*border: 1px solid black;*/

 	position: relative;

 	width: 30%;

 	display: flex;
 	flex-direction: column;
 	justify-content: space-evenly;
 	align-items: flex-start;

 	color: whitesmoke;


	}

	/*-*/

		.items-footer{

		 /*border: 1px solid black;	*/

		 font-size: 1.2rem;
		}




	

}










